/*----MOBILE FIRST---- */
.hero {
	max-height: 400px;
	max-width: 100vw;
	color: $brand-white;
	background-color: $navy-blue;
	background-image: linear-gradient(
			to bottom,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url("/images/hero-480.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include tablet {
		background-image: linear-gradient(
				to bottom,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url("/images/hero-768.jpeg");
	}

	@include desktop {
		max-height: 600px;
		background-image: linear-gradient(
				to bottom,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url("/images/hero.jpeg");
	}

	&__wrapper {
		padding: 58px 0;
		text-align: center;
		@include desktop {
			padding: 106px 235px;
		}
	}

	&__slogan {
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 30px;
		font-weight: 900;
		letter-spacing: 0.06em;
		font-family: "Roboto";
		font-size: 26px;
		line-height: 1.62;
		text-transform: uppercase;
		color: $brand-white;

		@include desktop {
			max-width: 696px;
			font-size: 44px;
			line-height: 1.36;
		}
	}
}

@media screen and (min-device-pixel-ratio: 2),
	screen and (min-resolution: 192dpi),
	screen and (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(
				to bottom,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url("/images/h1img-480x400x2x.jpg");

		@include tablet {
			background-image: linear-gradient(
					to bottom,
					rgba(47, 48, 58, 0.4),
					rgba(47, 48, 58, 0.4)
				),
				url("/images/h1img-768x400x2x.jpg");
		}

		@include desktop {
			background-image: linear-gradient(
					to bottom,
					rgba(47, 48, 58, 0.4),
					rgba(47, 48, 58, 0.4)
				),
				url("/images/h1img-1600x600-2x.jpg");
		}
	}
}
